<h2> <%= @pokemons.name %> </h2>
<p> Pokemon Type: <%= @pokemons.poke_type %></p>
<p>  CP: <%= @pokemons.cp %></p>
<img src='<%= @pokemons.img_url %>'>

<h3> <a href='/pokemons/<%= @pokemons.id %>/edit'>Edit Pokemon</a></h3>
